.text1{

        color: #030303;
        font-size: 28px;
        font-family: "Source Sans Pro";
        font-weight: 700;
        line-height: 36px;
        text-align: center;

}
.text2{
        color: #030303;
        font-size: 16px;
        font-family: "Source Sans Pro";
        line-height: 21px;
        text-align: center;
}
/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav main sidebar"
        "footer footer footer";
    grid-template-columns: auto 20fr auto;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.nav {
    grid-area: nav;
    background-color: #f4f4f4;
    padding: 20px;
}

.main-content {
    grid-area: main;
    background-color: #fff;
    padding: 20px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #f4f4f4;
    padding: 20px;
}

.footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
